<section class="welcome-wrapper py-5">
  <div
    class="container d-flex flex-column flex-md-row text-center text-md-start align-items-center justify-content-between gap-4 gap-md-5">
    <h1 class="text-capitalize fw-semibold fs-2 my-0 lh-base">
      Welcome Back <span>{{employee.getFirstName()}}</span> Here are your latest
      updates.
    </h1>
    <button type="button" name="new request" class="btn btn-main text-capitalize">
      new request
    </button>
  </div>
</section>

<section class="profile-summary py-4">
  <div class="container">
    <div class="row gy-4 text-capitalize justify-content-center align-items-stretch">
      <div class="col-12 col-sm-12 col-xl-6">
        <div class="user-profile shadow p-4 rounded-4 bg-secondary h-100 text-center text-md-start">
          <header
            class="user-profile__header d-flex flex-column flex-md-row align-items-center justify-content-between gap-3">
            <div class="user-profile__info d-flex flex-column flex-md-row align-items-center gap-3">
              <figure class="user-profile__img-wrapper d-flex align-items-center rounded-pill mb-0 overflow-hidden">
                <img [style]="{'width':'60px'}" [src]="employee.getImagePath()"
                  [alt]="employee.getFullName() + 'image not found'" class="img-fluid hoverZoomLink">
              </figure>
              <div class="user-profile__name-job-wrapper">
                <h2 class="fs-5 mb-0 fw-semibold">{{employee.getFullName()}}</h2>
                <span class="text-secondary">{{employee.getJobTitle()}}</span>
              </div>
            </div>
            <a name="view profile" id="view-profile" class="btn btn-secondary" role="button">view profile</a>
          </header>
          <div
            class="user-profile__data-wrapper d-flex flex-column flex-sm-row align-items-center justify-content-center justify-content-md-start gap-5 mt-5">
            @for (detailsItems of employeeDetailsLabels; track $index) {
            <div class="user-profile__data d-flex flex-column flex-md-row gap-3 align-items-center">
              <fa-icon class="fs-1 text-secondary" [icon]="detailsItems.icon"></fa-icon>
              <div>
                <h4 class="fs-6 fw-semibold mb-1">{{detailsItems.label}}</h4>
                <span class="text-secondary">
                  {{detailsItems.prefix + " " + detailsItems.value + " " +
                  detailsItems.suffix}}
                </span>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
      @for (staticItem of employeeStatisticsLabels; track $index) {
      <div class="col-12 col-sm-6 col-xl-3">
        <div
          class="static text-light bg-main d-flex align-items-center justify-content-center gap-5 shadow p-4 rounded-4 h-100">
          <div>
            <i class="static__icon fa-solid fa-list-check" aria-hidden="true"></i>
            <span class="d-block text-center lh-sm mt-1">{{staticItem.label.split(" ")[0]}} <br>
              {{staticItem.label.split(" ")[1]}}</span>
          </div>
          <span class="static__value">{{staticItem.value}}</span>
        </div>
      </div>
      }
    </div>
  </div>
</section>

<section class="lates-news py-5">
  <div class="container text-capitalize">
    <h2 class="fs-4 fw-semibold mb-3">lates news:</h2>
    <div id="lates-news-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">
      <div id="latest-news-carousel-inner" class="carousel-inner">
        @for (slideData of newsSliderData; track $index) {
        <div class="carousel-item" [ngClass]="{'active': $index==0}">
          <img [src]="slideData.imagePath" class="d-block w-100 img-fluid rounded"
            [alt]="'slide ' + $index + ' image not found'">
          <div class="carousel-caption text-start start-0 bottom-0 p-4 w-100">
            <h5 class="text-dark fw-semibold">{{slideData.title}}</h5>
            <p class="text-dark mb-0">
              {{slideData.desc | slice:0:120}}
              @if(slideData.desc.length>120){
              ....
              }
            </p>
          </div>
        </div>
        }
      </div>
      <div id="latest-news-carousel-indicators" class="carousel-indicators position-relative mt-2">
        @for (slideData of newsSliderData; track $index) {
        <button type="button" data-bs-target="#lates-news-carousel" [attr.data-bs-slide-to]="$index"
          [ariaLabel]="'slide ' + $index" [ngClass]="{'active': $index==0}"
          [ariaCurrent]="$index === 0 ? 'true' : 'false'"></button>
        }
      </div>
    </div>
  </div>
</section>

<section id="vacation-requests-section" class="vacation-requests py-5">
  <div class="container">
    <div class="text-capitalize bg-secondary p-4 rounded-4 shadow">
      <header class="cards-panel__header-container">
        <div class="cards-panel-header d-lg-flex align-items-center pb-4">
          <div class="d-flex align-items-center">
            <fa-icon [icon]="faListCheck" class="text-theme fs-2 me-3"></fa-icon>
            <h2 class="fs-4 fw-semibold mb-0">vacation requests</h2>
          </div>
          <div class="cards-panel-header__search-bar d-flex align-items-center rounded-pill px-3 mt-4 mt-lg-0 ms-auto">
            <fa-icon [icon]="faMagnifyingGlass" class="text-theme"></fa-icon>
            <input (input)="updateVacationRequests(searchQuery.value)" #searchQuery type="text"
              class="cards-panel-header__search-input form-control" name="cards panel search bar"
              placeholder="Search..." value="">
          </div>

        </div>
      </header>
      <main class="cards-panel__cards-container mt-4 row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 gy-4">
        @for (vacationRequestItem of filteredVacationRequest; track $index) {
        <div class="col cards-panel__item">
          <div class="vacation-requests-card shadow-card text-center bg-background p-3 rounded">
            <header>
              <img class="vacation-requests-card__img rounded-pill shadow-sm"
                [src]="vacationRequestItem.getEmployee().getImagePath()"
                [alt]="vacationRequestItem.getEmployee().getFullName() +' imge not found'">
              <h3 class="vacation-requests-card__employee-name fs-5 fw-semibold mt-2"
                [innerHTML]="vacationRequestItem.getEmployee().getFullName() | highlight: searchQuery.value">
              </h3>
            </header>
            <main class="text-start mt-3 fs-14">
              <div>
                <span>submitted on:</span>
                <span class="d-block fw-semibold text-secondary mb-2"
                  [innerHTML]="vacationRequestItem.getSubmittedOn() | date:'d/M/yyyy' | highlight: searchQuery.value">
                </span>
              </div>
              <div>
                <span>Duration:</span>
                <span class="d-block fw-semibold text-secondary mb-2"
                  [innerHTML]="vacationRequestItem.getDurationFormatted() | highlight: searchQuery.value">

                </span>
              </div>
              <div>
                <span>salary:</span>
                <span class="d-block fw-semibold text-secondary mb-2"
                  [innerHTML]="vacationRequestItem.getEmployee().getSalary().toString() + ' AED' | highlight: searchQuery.value ">
                </span>
              </div>
            </main>
            <footer class="mt-4 d-flex align-items-center gap-3">
              <button type="button" name="vacation requests card decline button"
                id="vacation-requests-card-decline-button-41" class="btn btn-secondary w-100">
                decline
              </button>
              <button type="button" name="vacation requests card approve button"
                id="vacation-requests-card-approve-button-41" class="btn btn-main w-100">
                Approve
              </button>
            </footer>
          </div>
        </div>
        }
        @empty {
        <div class="p-5 flex-grow-1 text-center">no employee match search input</div>
        }
      </main>
      <footer class="fw-semibold mt-3">
        <a href="/pages/requests.html" type="button" view="more" name="view-more vacation requests"
          class="cards-panel__view-more-btn mt-4 text-decoration-none d-flex align-items-center justify-content-end gap-1 text-theme">
          <span>view more</span>
          <fa-icon [icon]="faAngleRight" class="mt-1"></fa-icon>
        </a>
      </footer>
    </div>
  </div>
</section>